ISI_TP2/Cliente/Connected Services/WCF/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56385/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56385/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56385/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceRest_RetornaCidades_InputMessage">
    <wsdl:part name="parameters" element="tns:RetornaCidades" />
  </wsdl:message>
  <wsdl:message name="IServiceRest_RetornaCidades_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetornaCidadesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceRest_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IServiceRest_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceRest_Registo_InputMessage">
    <wsdl:part name="parameters" element="tns:Registo" />
  </wsdl:message>
  <wsdl:message name="IServiceRest_Registo_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceRest">
    <wsdl:operation name="RetornaCidades">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRest/RetornaCidades" message="tns:IServiceRest_RetornaCidades_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRest/RetornaCidadesResponse" message="tns:IServiceRest_RetornaCidades_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRest/Login" message="tns:IServiceRest_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRest/LoginResponse" message="tns:IServiceRest_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Registo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRest/Registo" message="tns:IServiceRest_Registo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRest/RegistoResponse" message="tns:IServiceRest_Registo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Service" />
</wsdl:definitions>