ISI_TP2/Cliente/Connected Services/WCF/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TiposTempo">
    <xs:sequence>
      <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="data" nillable="true" type="tns:ArrayOfTempo" />
      <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TiposTempo" nillable="true" type="tns:TiposTempo" />
  <xs:complexType name="ArrayOfTempo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tempo" nillable="true" type="tns:Tempo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTempo" nillable="true" type="tns:ArrayOfTempo" />
  <xs:complexType name="Tempo">
    <xs:sequence>
      <xs:element minOccurs="0" name="descIdWeatherTypeEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descIdWeatherTypePT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idWeatherType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tempo" nillable="true" type="tns:Tempo" />
  <xs:complexType name="Previsao5dias">
    <xs:sequence>
      <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="data" nillable="true" type="tns:ArrayOfPrevisaoDia" />
      <xs:element minOccurs="0" name="dataUpdate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="globalIdLocal" type="xs:int" />
      <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Previsao5dias" nillable="true" type="tns:Previsao5dias" />
  <xs:complexType name="ArrayOfPrevisaoDia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PrevisaoDia" nillable="true" type="tns:PrevisaoDia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrevisaoDia" nillable="true" type="tns:ArrayOfPrevisaoDia" />
  <xs:complexType name="PrevisaoDia">
    <xs:sequence>
      <xs:element minOccurs="0" name="classPrecInt" type="xs:int" />
      <xs:element minOccurs="0" name="classWindSpeed" type="xs:int" />
      <xs:element minOccurs="0" name="forecastDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idWeatherType" type="xs:int" />
      <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="precipitaProb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="predWindDir" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tMax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tMin" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrevisaoDia" nillable="true" type="tns:PrevisaoDia" />
</xs:schema>