ISI_TP2/Cliente/Connected Services/WCF/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56385/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:56385/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="RetornaCidades">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaCidadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RetornaCidadesResult" nillable="true" type="q1:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeatherTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeatherTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetWeatherTypesResult" nillable="true" type="q2:TiposTempo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get5DayWeather">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCidade" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get5DayWeatherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Get5DayWeatherResult" nillable="true" type="q3:Previsao5dias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="LoginResult" nillable="true" type="q4:Aux" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_utilizador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetEventosResult" nillable="true" type="q5:Aux" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jsonString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>